.box {
  margin: 1rem auto;
  padding: 1%;
}

.dark-mode {
  background: black !important;
}

#magic {
  z-index: 90000;
  background: #5b7648;
  color: #e2ffce;
  border-radius: 20rem; 
  outline: none;
  animation: action 1s infinite  alternate;
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-.3rem); }
}

.color-change {
  animation: color-change 4.5s infinite;
}

@keyframes color-change {
  0% { color: #85ffdbc2; }
  10% { color: rgb(190, 0, 117); }
  20% { color: rgb(255, 75, 75); }
  30% { color: rgb(255, 207, 75); }
  40% { color: rgb(126, 255, 75); }
  50% { color: black; }
  60% { color: rgb(0, 28, 190); }
  70% { color: rgb(0, 152, 190); }
  80% { color: rgb(190, 92, 0); }
  80% { color: rgb(159, 0, 190); }
  100% { color: #5b7648; }
}