.box {
  margin: 1rem auto;
  padding: 1%;
}

.dark-mode {
  background: black !important;
}

#magic {
  z-index: 90000;
  background: #5b7648;
  color: #e2ffce;
  border-radius: 20rem; 
  outline: none;
  animation: action 1s infinite  alternate;
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-.3rem); }
}

.color-change {
  animation: color-change 3.5s infinite;
}

@keyframes color-change {
  0% { color: #e2ffce; }
  20% { color: rgb(255, 75, 75); }
  35% { color: rgb(255, 207, 75); }
  50% { color: rgb(79, 79, 255); }
  65% { color: rgb(126, 255, 75); }
  80% { color: rgb(159, 0, 190); }
  100% { color: #5b7648; }
}